:root {
    --primary-color: rgb(64, 16, 16);
    --secondary-color: rgb(16, 32, 64);
    --tertiary-color: rgb(16, 16, 16);
    --background-color: rgb(16, 16, 16);
    --color: rgb(192, 192, 192);
}

html {
    scroll-behavior: smooth;
}

a {
    color: unset;
    text-decoration: unset;
    transition: 0.2s;
}

body {
    background: var(--background-color);
    color: var(--color);
    font-family: 'Helvetica', 'Trebuchet MS', 'Arial', 'sans-serif';
    margin: 0;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    background: var(--primary-color);
    width: 100%;
    height: 10vh;
    padding: 0 64px;
    box-sizing: border-box;
}

header .header-left {
    display: flex;
    align-items: center;
    height: 100%;
}

header .avatar {
    width: auto;
    height: 75%;
    border: 2px solid rgb(128, 128, 128);
    border-radius: 50%;
    margin-right: 16px;
    box-sizing: border-box;
    transition: 0.2s;
}

header .avatar:hover {
    border: 2px solid #fff;
}

header .title {
    user-select: none;
    transition: 0.2s;
}

header .title:hover {
    color: #fff;
}

header .nav {
    display: flex;
    list-style-type: none;
}

header .nav li {
    font-size: 24px;
    font-weight: bold;
    user-select: none;
}

header .nav li:hover {
    color: #fff;
}

header .nav li:not(:last-child) {
    margin-right: 32px;
}

/* Footer */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--secondary-color);
    height: 10vh;
}

/* Main */
main {
    width: 75%;
    min-height: 100vh;
    margin: 0 auto;
}

section:first-child {
    padding: calc(10vh + 32px) 0 32px 0;
}

section {
    padding: 32px 0;
}