:root {
    --primary-color: rgb(96, 32, 32);
    --secondary-color: rgb(32, 48, 96);
    --background-color: rgb(24, 24, 24);
    --color: rgb(192, 192, 192);
}

html {
    scroll-behavior: smooth;
}

a {
    color: unset;
    text-decoration: unset;
    transition: 0.2s;
}

body {
    background: var(--background-color);
    color: var(--color);
    font-family: 'Helvetica', 'Trebuchet MS', 'Arial', 'sans-serif';
    margin: 0;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    background: var(--primary-color);
    width: 100%;
    height: 10vh;
    padding: 0 64px;
    box-sizing: border-box;
}

header .header-left {
    display: flex;
    align-items: center;
    height: 100%;
}

header .avatar {
    width: auto;
    height: 75%;
    border: 2px solid rgb(128, 128, 128);
    border-radius: 50%;
    margin-right: 16px;
    box-sizing: border-box;
    transition: 0.2s;
}

header .avatar:hover {
    border: 2px solid #fff;
}

header .title {
    user-select: none;
    transition: 0.2s;
}

header .title:hover {
    color: #fff;
}

header .nav {
    display: flex;
    list-style-type: none;
}

header .svg-inline--fa {
    margin-right: 16px;
}

header .nav li {
    font-size: 24px;
    font-weight: bold;
    user-select: none;
}

header .nav li:hover {
    color: #fff;
}

header .nav li:not(:last-child) {
    margin-right: 32px;
}

/* Footer */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--secondary-color);
    height: 10vh;
}

/* Main */
main {
    width: 75%;
    min-height: 100vh;
    margin: 0 auto;
}

section:first-child {
    padding-top: calc(10vh + 32px);
}

section {
    padding-top: 64px;
}

section .section-left, section .section-right {
    width: 50%;
}

section h1 {
    font-size: 64px;
    line-height: 32px;
    text-decoration: underline var(--primary-color);
}

/* About */
section .section-top, section .section-bottom {
    display: flex;
}

#about .section-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

#about p {
    font-size: 24px;
    line-height: 48px;
    text-indent: 48px;
}

#about a {
    text-decoration: underline;
}

#about a:hover {
    color: #fff;
}

#about .avatar {
    width: 50%;
    height: auto;
    border: 4px solid rgb(128, 128, 128);
    border-radius: 50%;
}

/* Card */
.card {
    background: rgb(32, 32, 32);
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}

.card-title {
    background: var(--primary-color);
    margin: 0;
    padding: 16px 0;
    text-align: center;
    border-radius: 8px 8px 0 0;
}

/* Contact */
.contact-group {
    width: 75%;
    height: 75%;
}

.contact-info {
    padding: 32px;
}

.contact-item {
    display: flex;
    padding: 16px 0;
}

.contact-item div {
    font-size: 20px;
}

.contact-item div:first-child {
    width: 25%;
}

.contact-item div:nth-child(2) {
    width: 75%;
}

/* Skills */
.skills-wrapper {
    display: flex;
    justify-content: center;
}

.skills-group {
    width: calc((100% / 3) - 32px);
    margin: 0 16px;
}

.skills-group .card-title {
    background: var(--primary-color);
    margin: 0;
    padding: 16px 0;
    text-align: center;
    border-radius: 8px 8px 0 0;
}

.skills-group-items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.skills-group-items a {
    display: flex;
    align-items: center;
    margin: 32px;
    font-size: 24px;
}

.skills-group-items a:hover {
    color: #fff;
    transform: scale(1.2);
}

.skills-group-items .svg-inline--fa {
    margin-right: 16px;
    font-size: 32px;
}

/* Convert HEX color #C0C0C0 to CSS filter for SVGs
CodePen: https://codepen.io/sosuke/pen/Pjoqqp
Note: Add brightness(0) saturate(100%) to beginning of filter for non-black SVGs */
.skills-group-items .skills-icon {
    height: 1em;
    margin-right: 16px;
    font-size: 32px;
    filter: brightness(0) saturate(1) invert(86%) sepia(0) saturate(625%) hue-rotate(197deg) brightness(93%) contrast(85%);
    transition: 0.2s;
}

.skills-group-items a:hover .skills-icon {
    filter: brightness(0) saturate(1) invert(1) sepia(0) saturate(1) hue-rotate(0) brightness(1) contrast(1);
}