:root {
    --primary-color: rgb(96, 32, 32);
    --secondary-color: rgb(32, 48, 96);
    --background-color: rgb(24, 24, 24);
    --color: rgb(192, 192, 192);
}

html {
    scroll-behavior: smooth;
}

a {
    color: unset;
    text-decoration: unset;
    transition: 0.2s;
}

body {
    background: var(--background-color);
    color: var(--color);
    font-family: 'Helvetica', 'Trebuchet MS', 'Arial', 'sans-serif';
    margin: 0;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    background: var(--primary-color);
    width: 100%;
    height: 10vh;
    padding: 0 64px;
    box-sizing: border-box;
}

header .header-left {
    display: flex;
    align-items: center;
    height: 100%;
}

header .avatar {
    width: auto;
    height: 75%;
    border: 2px solid rgb(128, 128, 128);
    border-radius: 50%;
    margin-right: 16px;
    box-sizing: border-box;
    transition: 0.2s;
}

header .avatar:hover {
    border: 2px solid #fff;
}

header .title {
    user-select: none;
    transition: 0.2s;
}

header .title:hover {
    color: #fff;
}

header .nav {
    display: flex;
    list-style-type: none;
}

header .nav li {
    font-size: 24px;
    font-weight: bold;
    user-select: none;
}

header .nav li:hover {
    color: #fff;
}

header .nav li:not(:last-child) {
    margin-right: 32px;
}

/* Footer */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--secondary-color);
    height: 10vh;
}

/* Main */
main {
    width: 75%;
    min-height: 100vh;
    margin: 0 auto;
}

section:first-child {
    padding: calc(10vh + 32px) 0 32px 0;
}

section {
    padding: 32px 0;
}

section .section-left, section .section-right {
    width: 50%;
}

section h1 {
    font-size: 64px;
    line-height: 32px;
    text-decoration: underline var(--primary-color);
}

/* About */
section .section-top, section .section-bottom {
    display: flex;
}

#about .section-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

#about p {
    font-size: 24px;
    line-height: 48px;
}

#about a {
    text-decoration: underline;
}

#about a:hover {
    color: #fff;
}

#about .avatar {
    width: 50%;
    height: auto;
    border: 4px solid rgb(128, 128, 128);
    border-radius: 50%;
}

#contact {
    display: flex;
    justify-content: center;
    width: 75%;
    height: 75%;
    background: rgb(32, 32, 32);
    border-radius: 8px;
}

#contact table {
    width: 75%;
    height: 75%;
    margin-top: 16px;
    font-size: 20px;
}

#contact table td {
    width: 50%;
    box-sizing: border-box;
}